<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="user-profile">
        <div class="user-image">
            <img src="/regal/images/faces/face28.png">
        </div>
        <div class="user-name">
            Murat Yücedağ
        </div>
        <div class="user-designation">
            Yazılım Geliştirici
        </div>
    </div>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="../../index.html">
                <i class="icon-box menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../../pages/forms/basic_elements.html">
                <i class="icon-file menu-icon"></i>
                <span class="menu-title">Kategoriler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../../pages/charts/chartjs.html">
                <i class="icon-pie-graph menu-icon"></i>
                <span class="menu-title">Ürünler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../../pages/tables/basic-table.html">
                <i class="icon-command menu-icon"></i>
                <span class="menu-title">Rezervasyonlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../../pages/icons/feather-icons.html">
                <i class="icon-help menu-icon"></i>
                <span class="menu-title">Mesajlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../../pages/icons/feather-icons.html">
                <i class="icon-help menu-icon"></i>
                <span class="menu-title">Hakkımızda</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../../pages/icons/feather-icons.html">
                <i class="icon-help menu-icon"></i>
                <span class="menu-title">Referanslar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../../pages/icons/feather-icons.html">
                <i class="icon-help menu-icon"></i>
                <span class="menu-title">İstatistikler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../../pages/icons/feather-icons.html">
                <i class="icon-help menu-icon"></i>
                <span class="menu-title">Grafikler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../../pages/icons/feather-icons.html">
                <i class="icon-help menu-icon"></i>
                <span class="menu-title">Raporlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../../pages/icons/feather-icons.html">
                <i class="icon-help menu-icon"></i>
                <span class="menu-title">Kredi Kartı</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../../pages/icons/feather-icons.html">
                <i class="icon-help menu-icon"></i>
                <span class="menu-title">Ayarlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../../pages/icons/feather-icons.html">
                <i class="icon-help menu-icon"></i>
                <span class="menu-title">Çıkış Yap</span>
            </a>
        </li>
    </ul>
</nav>