@model List<Project2BurgerMenu.Entities.Message>

@{
    ViewBag.Title = "InBox";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Gelen Mesajlar Sayfası</h4>
            <p class="card-description">
            </p>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Gönderici</th>
                            <th>Konu</th>
                            <th>Tarih</th>
                            <th>Mesajı Aç</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            count++;
                            <tr>
                                <td>@count</td>
                                <td>@item.SenderEmail</td>
                                <td>@item.Title</td>
                                <td>@item.SendDate.ToShortDateString()</td>
                                <td><a href="#" class="btn btn-primary">Mesajı Aç</a></td>
                            </tr>
                        }

                    </tbody>
                </table>
                <a href="#" class="btn btn-info">Yeni Mesaj Gönderin</a>
            </div>
        </div>
    </div>
</div>
